.form {
    margin: 1rem 0;
    height: 19;
    overflow: auto;
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
}

.control input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
}

.actions {
    text-align: right;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    color: #8a2b06;
}

.actions button:hover,
.actions button:active {
    background-color: #5a1a01;
    color: white;
}

.actions .submit {
    border: 1px solid #8a2b06;
    background-color: #8a2b06;
    color: white;
}

.actions .submit:hover,
.actions .submit:active {
    background-color: #5a1a01;
}

.invalid p,
.invalid label {
    color: #ca3e51;
}

.invalid input {
    border-color: #aa0b20;
    background-color: #ffeff1;
}